
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

body {
    font-family: "Nunito", sans-serif;
}

html {
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

:root {
    --green: #a8b8e2;
    --black: #552d5e;
    --light-color: #666;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    --boder: 1px solid #e7e6e6;
}

.boxcenter {
    width: 100%;
    margin: 0 auto;
}

.row {
    float: left;
    width: 100%;
}

.mb {
    margin-bottom: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mr {
    margin-right: 2%;
}

/* header */

header {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo img {
    width: 150px;
}

header .logo img:hover {
    transform: scale(1.2);
}

.banner img {
    height: 500px;
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover {
    color: #fff;
    background-color: var(--green);
}

header .icons a,
header .icons i {
    cursor: pointer;
    margin-left: 0.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    font-size: 1.7rem;
    text-align: center;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
    transition: 1.5s;
}

header .icons i:hover,
header .icons a:hover {
    color: #fff;
    background-color: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none;
}

/* home */
section {
    padding: 2rem 5rem;
    /* margin-top: 20px; */
}

.banner {
    overflow: hidden;
}

.banner {
    position: relative;
}

.swiper-pagination {
    bottom: 20px !important;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(235, 130, 229, 0.9781162464985994) 100%);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 1rem 3rem;
    color: #fff;
}

.btn1,
input[type="submit"] {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.2rem;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background-color: var(--black);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 1rem 1.5rem;
    color: #fff;
}

.btn:hover,
.btn1:hover,
input[type="submit"]:hover {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(198, 229, 31, 1) 100%);
    letter-spacing: 0.1;
}

.home .home-slider .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    padding-top: 5rem;
}

.home .home-slider .slide .content {
    flex: 1 1 45rem;
}

.home .home-slider .slide .image {
    flex: 1 1 45rem;
}

.home .home-slider .slide .image img {
    width: 100%;
}

.home .home-slider .slide .content span {
    color: var(--green);
    font-size: 1.7rem;
}

.home .home-slider .slide .content h3 {
    color: var(--black);
    font-size: 3.5rem;
}

.home .home-slider .slide .content p {
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 3rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active {
    background: var(--green);
}

/* main */
.boxtrai {
    float: left;
    width: 70%;
    margin-left: 4.6rem;
    margin-right: 2rem;
}

.boxphai {
    float: left;
    width: 20%;
}

.boxtitle {
    padding: 10px;
    background-color: greenyellow;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}

.boxcontent {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
}

.boxcontent2 {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #eee;
}

.boxfooter {
    padding: 10px;
    background-color: rgb(193, 203, 203);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}

.boxsp {
    float: left;
    width: 32%;
    min-height: 300px;
    border: var(--boder);
    border-radius: 3px;
    margin-bottom: 20px;
    flex: 1;
    text-align: center;
    padding: 15px 10px;
    transition: all 1s ease-in-out;
}

.boxsp:hover {
    box-shadow: 0 0 0 2px rgb(238, 174, 202);
    transform: rotate(8deg);
}

.boxsp .img {
    min-height: 200px;
    text-align: center;
    flex-shrink: 0;
}

.img img {
    height: 200px;
    width: 100%;
}

.boxsp p {
    font-size: 18px;
    color: #27ae60;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.boxsp a {
    font-size: 20px;
    color: #084e26;
    font-weight: bold;
}

/* box taikhoan */
.formtaikhoan {
    line-height: 150%;
    font-size: 18px;
}

.formtaikhoan input[type="text"],
.formtaikhoan input[type="email"],
.formtaikhoan input[type="password"],
.formcontent input[type="text"] {
    width: 100%;
    border: 1px solid #dddbdb;
    padding: 5px 10px;
    border-radius: 5px;
}

.formtaikhoan input[type="checkbox"] {
    border-radius: 5px;
}

.formtaikhoan input[type="submit"],
.formcontent input[type="submit"],
.formcontent input[type="reset"],
.formtaikhoan input[type="reset"],
.formcontent input[type="button"] {
    border: 1px solid #ccc;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.formtaikhoan input[type="submit"]:hover,
.formcontent input[type="submit"]:hover,
.formcontent input[type="reset"]:hover,
.formcontent input[type="button"]:hover {
    background-color: red;
}

.formtaikhoan li a {
    color: aqua;
    text-decoration: none;
}

.formtaikhoan li a:hover {
    color: palegoldenrod;
    text-decoration: underline;
}

/* menu doc */
.menudoc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menudoc ul li {
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.menudoc ul li a {
    color: #666;
    text-decoration: none;
}

.menudoc ul li:hover {
    background-color: orange;
    text-decoration: underline;
}

.searchbox input[type="text"] {
    width: 100%;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.footer {
    overflow: hidden;
}

/* Top10 */
.top10 img {
    width: 15%;
    height: 40px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 3px;
}

.top10 a {
    color: fuchsia;
    text-decoration: none;
}

.top10 a:hover {
    color: rgb(25, 243, 40);
    text-decoration: underline;
}

/* Admin */
.headerAdmin {
    background-color: #eee;
    border: 1px solid #ccc;
    color: #666;
    border-radius: 5px;
    padding: 0 20px;
}

.headerAdmin h1 {
    font-size: 2vw;
}

.formtitle {
    background-color: #eee;
    border: 1px solid #ccc;
    color: #666;
    border-radius: 5px;
    padding: 0 20px;
}

.formcontent {
    padding: 20px 0px;
}

/* table */
.formdsloai table {
    width: 100%;
    border-collapse: collapse;
    /* border: 1px solid #999; */
}

.formdsloai table th {
    padding: 20px;
    background-color: rgb(89, 201, 34);
}

.formdsloai table td {
    padding: 10px 20px;
    border: 1px solid #ccc;
}

.spct {
    text-align: center;
}

.spct img {
    width: 50%;
    object-fit: cover;
}

.thongbao {
    color: red;
}

.sub-heading {
    text-align: center;
    color: var(--green);
    font-size: 1.5rem;
}

.heading {
    text-align: center;
    color: var(--black);
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: bolder;
}

/* about */
.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.about .row .image img {
    width: 75%;
    border-radius: 10%;
    object-fit: cover;
    box-shadow: 0 0 0 2px #eea2a7;
}

.about .row .image img:hover {
    animation: zoom-in-zoom-out 3s ease-in-out infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(0.5, 0.5);
    }

    50% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(0.5, 0.5);
    }
}

.about .row .content h3 {
    color: var(--black);
    font-size: 3rem;
    padding: 1.5rem 0;
}

.about .row .content p {
    color: var(--light-color);
    font-size: 1.2rem;
    padding: 0.5rem 0;
    line-height: 2;
}

.about .row .content .icons-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: 0.5rem;
}

.about .row .content .icons-container .icons {
    background: #eee;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    flex: 1 1 17rem;
}

.about .row .content .icons-container .icons i {
    font-size: 2rem;
    color: var(--green);
}

.about .row .content .icons-container .icons span {
    font-size: 1.2rem;
    color: var(--light-color);
}

/* review */
.review .slide {
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    position: relative;
}

.review .slide .fa-quote-right {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 6rem;
    color: #ccc;
}

.review .slide .user {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3 {
    color: var(--black);
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.review .slide .user i {
    font-size: 1.3rem;
    color: var(--green);
}

.review .slide p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
}

/* order  */
.order form {
    max-width: 90rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 1.5rem;
    margin: 0 auto;
}

.order form .inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order form .inputBox .input {
    width: 49%;
}

.order form .inputBox .input span {
    display: block;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.order form .inputBox .input input,
.order form .inputBox .input textarea {
    background: #eee;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;
}

.order form .inputBox .input textarea {
    height: 20rem;
    resize: none;
}

.order form .btn {
    margin-top: 0;
}

/* footer */
.footer .box-container {
    padding: 1rem;
    background-color: rgba(210, 208, 208, 0.1);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.footer .box-container .box h3 {
    padding: 0.5rem 0;
    font-size: 2.2rem;
    color: var(--black);
}

.footer .box-container .box a {
    display: block;
    padding: 0.5rem 0;
    font-size: 1.3rem;
    color: var(--light-color);
}

.footer .box-container a:hover {
    color: var(--green);
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    color: var(--black);
    padding: 0.5rem;
    margin: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
}

